.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.quartz-cache
private/
.replit
replit.nix
docs
.trash
.obsidian/plugins/**/data.json
/.smtcmp_json_db
/.smtcmp_vector_db.tar.gz
